/* h1{
    color:rgb(209, 108, 108)
}
h2{
    color: yellow;
}
h3{
    color: blue;
}
div{
    color: red!important;
    background-color: yellow;
} */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
.con{
    width: 966px;
    margin: 0 auto;
}

.header{
    height: 110px;
    /* background: yellow; */
    
}
.logo{
    width: 265px;
    height: 110px;
    background: url(../img/logo.png);
    float:left
}

.headerright{
    float: right;
}

.headerright ul{
    height: 44px;
    margin-top: 10px;
    line-height: 44px
}

.headerright li{
    float: left;
}

.headerright li a{
    border-right: 1px solid #b2c7ea;
    padding: 0 13px;
    font-size: 13px;
    color: #ababab;

}

.headerright .last{
    padding-right: 0;
    border: 0;
}

.headerright li .active{
    color: #eb6ca1;
}

.search{
    width: 234px;
    height: 28px;
    float: right;
    border: 1px solid #d1d1d1;
}

.search input{
    border: 0;
    outline: noe;
    
}

.search .left{
    width: 196px;
    height: 28px;
    float: left;
    padding-left: 14px;
}

.search .right{
    height: 28px; 
    width: 24px;
    float: right;
    background: url(../img/search.png) no-repeat left center;

}

.nav{
    height: 53px;
    line-height: 53px;
    border-top: 1px solid #657588;
    color: white;
    background: #0c345c;
    
}

.nav li{
    float: left;
    font-size: 16px;
    padding-right: 76px;
}

.banner {
    height: 360px;
    background: url(../img/bg.png) no-repeat center;

}

.list{
    height: 213px;
    margin-top: 51px;
    margin-bottom: 35px;
}

.item{
    width: 305px;
    height: 211px;
    border: 1px solid #cccccc;
    float: left;
    margin-right: 19px;
}

.item p{
    padding-left: 28px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    color: black;
}

.item img{
    display: block;
}

.itemlast{
    margin: 0;
}

.footer{
    height: 206px;
    border: 1px solid #cccccc;
    background: url(../img/footer.png);
}

.footer ul{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 84px;
    border-bottom: 1px solid #ecebeb;
    line-height: 28px;
}

.footer ul li{
    width: 210px;
    height: 30px;
    font-size: 12px;
    color: #336699;
    float: left;
}

.footer p{
    height: 61px;
    line-height: 61px;
    padding-left: 30px;
    font-size: 12px;
}

.footer p span{
    color: #0096da;
}